<div>    
    <table class="table">
      <thead>
        <tr>
          <th>序号</th>
          <th>批准文号</th>
          <th>药品名称</th>
          <th>规格</th>
          <th>生产企业</th>
          <th>批准日期</th>
        </tr>
      </thead>
      <tbody>
      	{% for drug in drugs_list_page %}
        <tr class="{%cycle 'success' ''%}">
          <th scope="row">{{ forloop.counter0|add:drugs_list_page.start_index }}</th>
          <td>{{ drug.drug_approval_num }}</td>
          <td>{{ drug.drug_name_zh }}</td>
          <td>{{ drug.drug_spec}}</td>
          <td>{{ drug.production_unit__production_unit_name}}</td>
          <td>{{ drug.approval_date|date:'Y-m-d'}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div class="row">
<div class="col-xs-3 col-sm-4 col-md-4"></div>
<div class="pagination">
    <span class="step-links">
        {% if drugs_list_page.has_previous %}
            <a class="btn btn-primary" href="javascript:loadpage(qcols, 1)">首页</a>
            <a class="btn btn-primary" href="javascript:loadpage(qcols, {{ drugs_list_page.previous_page_number }})">上一页</a>
        {% endif %}

        <span class="current">
            <code>{{ drugs_list_page.number }}</code> / <code>{{ drugs_list_page.paginator.num_pages }}</code>
        </span>

        {% if drugs_list_page.has_next %}
            <a class="btn btn-primary" href="javascript:loadpage(qcols, {{ drugs_list_page.next_page_number }})">下一页</a>
            <a class="btn btn-primary" href="javascript:loadpage(qcols, {{ drugs_list_page.paginator.num_pages }})">末页</a>
        {% endif %}
    </span>
</div>
</div>
