{% extends 'base.html' %}

{% block main_content %}
    
    <div class="row row-offcanvas row-offcanvas-right">
        {% include 'drugs/search.html' %}
        <!--/.sidebar-offcanvas-->
        {% if success %}
            <div id="qid" style="display:none;" data-q="{{q}}"></div>
            <div class="col-xs-12 col-sm-10 col-md-offset-1">
                <div class="alert alert-success" role="alert" style="margin: 10px;">
                    {% include 'drugs/join.html' %}
                </div>
                <div style="margin: 0px -5px 0px 10px;">
                <ul class="nav nav-tabs nav-justified col-xs-12 col-sm-12 col-md-12">
                    <li id="list_li" role="presentation" class="active"><a href="javascript:">列表</a></li>
                    <li id="chart_li" role="presentation" class=""><a href="javascript:">图表（限选三项）</a></li>
                </ul>
                </div>
                <hr>
                <div id="drugs_list" style="margin: 10px;">
                    {% include 'drugs/drugs_list.html' %}
                </div>
                <div id="echarts_group" class="col-xs-12 col-sm-12 col-md-12" style="display: none;"></div>
            </div>
        {% else %}
        <div class="col-xs-12 col-sm-10 col-md-offset-1">
            <div id="qid" class="alert alert-info" role="alert" data-q="{{q}}" style="margin: 10px;">
                关键词：“{{ q }}”，{{ message }}
            </div>
        </div>
        {% endif %}
        <!--/.col-xs-12.col-sm-9-->
    </div>
{% endblock %}


{% block extra_script %}
    <script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
    <script src="http://echarts.baidu.com/asset/map/js/china.js"></script>
    <script type="text/javascript">
        var qcols={};
        var list_is_changed=true, chart_is_changed=true;
        $('#list_li').click(function(){
            $('#chart_li').removeClass('active');
            $(this).addClass('active');
            $('#echarts_group').hide();
            $('#drugs_list').show();      
            if(list_is_changed){
                loadpage(qcols,1);
            }            
        });

        $('#chart_li').click(function(){
            $('#list_li').removeClass('active');
            $(this).addClass('active');
            $('#drugs_list').hide();
            $('#echarts_group').show();
            if(chart_is_changed){
                loadcharts(qcols);
            }
        });

        $("#checkall").click(function(){
            if($(this).prop("checked")){
                $("ul.nav-pills li").each(function(){
                    $(this).addClass("active");
                    qcols[$(this).data('q')] = $(this).data('col');
                });
            }else{
                $("ul.nav-pills li").each(function(){
                    $(this).removeClass("active");
                    delete qcols[$(this).data('q')];
                });                
            }
            $("#checkednum").text(Object.keys(qcols).length);
            list_is_changed=true;
            chart_is_changed=true;
        });

        $("ul.nav-pills li").each(function(){
            $(this).click(function(){
                $(this).toggleClass("active");
                if($(this).hasClass("active")){
                    qcols[$(this).data('q')] = $(this).data('col');                
                }else{
                    delete qcols[$(this).data('q')];
                }
                $("#checkednum").text(Object.keys(qcols).length);
                list_is_changed=true;
                chart_is_changed=true;
            });
        });

        var mChart;
        function loadcharts(qcols){
            if(Object.keys(qcols).length == 0){
                // $("#checkall").click();
                loadEcharts({'cur_keyword':$('#qid').data('q')});
            }else{
                loadEcharts(qcols);
            }
            chart_is_changed = false;
        }
        function loadEcharts(qcols) {
            
            var url = '/drugs/options/';
            $("#echarts_group").empty();
            $("#echarts_group").append($('<div id="id_echarts_one" style="height: 500px;margin: 10px;"></div>'));
            if (mChart != null) {
                mChart.clear();
            }
            mChart = echarts.init(document.getElementById("id_echarts_one"));
            mChart.showLoading(opts={text:"加载中"});
            $.ajax({
                url: url,
                type: "POST",
                data: qcols,
                dataType: "json",
            }).done(function (data) {
                $("#id_echarts_one").hide();
                for(var chartid in data){
                    var cid = 'chartid_'+chartid;
                    var achart = '<div id='+cid+' style="height: 500px;margin: 10px;"></div>';
                    $('#echarts_group').append(achart);
                    var c = echarts.init(document.getElementById(cid));
                    c.setOption($.parseJSON(data[chartid]));
                }                
            });
            chart_is_changed=false;
        }

        function loadpage(qcols, page){
            if(Object.keys(qcols).length == 0){
                // $("#checkall").click();
                loadDrugsList({'cur_keyword':$('#qid').data('q')}, page);
            }else{
                loadDrugsList(qcols, page);
            }
            list_is_changed = false;
        }
        function loadDrugsList(qcols, page){
            $.ajax({
                url: '/drugs/list/'+page+'/',
                type: "POST",
                data: qcols,
                dataType: "json",
            }).done(function(data){
                // need to parseJSON() before use it
                // var d = '[{"name":"cxh","sex":"man"},{"name":"cxh1","sex":"man1"}]';
                // var drugs = $.parseJSON(data);                            
                // $.each(drugs, function(i, drug){
                //     $('#drugs_list').append('<li>',drug.fields.drug_approval_num,'</li>');
                // }); 
                $('#drugs_list').empty();
                // data.content need decode() for json to response
                // $('#drugs_list').append(data.content);
                $('#drugs_list').append(data.drugs);
                
            });
        }

        $(document).ready(function () {
            $('button.btn.btn-primary.postajax').each(function () {
                $(this).click(function(){
                    if(Object.keys(qcols).length > 0){     
                        if($("#list_li").hasClass("active")){
                            if(list_is_changed){
                                loadpage(qcols, 1);
                            }
                        }
                        if($("#chart_li").hasClass("active")){
                            if(chart_is_changed){
                                loadcharts(qcols);                            
                            }
                        }                          
                    }
                });
            });            
        });
    </script>
{% endblock %}